<configuration scan="true" scanPeriod="120 seconds">
 
	<!-- <include resource="org/springframework/boot/logging/logback/base.xml"/>  include all loger--> 
 
	<include resource="org/springframework/boot/logging/logback/defaults.xml" /> <!-- include some default valuse--> -->
 
	<!-- include only the console appender -->
	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
 
	<jmxConfigurator />
 
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}</file>
		<append>true</append>
		<encoder>
			<pattern>%date{dd MMM yyyy;HH:mm:ss.SSS}[%thread] %-5level
				%logger{50} - %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
 
 
	<root>
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</root>
 
</configuration>